$color1: #00416a;
$color2: #799f0c;
$color3: #ffe000;
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

$font1: "PT Mono", monospace;
$form-font-size: 1em;
$title-border: 8px solid black;
$span-border: 8px solid black;
$content-width: 90vw;
$font-size-h3: 1.3em;
$span-margin: 2vh;

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: $font1;
  :focus {
    outline: none;
  }
  h3 {
    font-size: $font-size-h3;
  }
}
#container {
  box-sizing: border-box;
  height: 100vh;
  background: $color3;
  color: black;
  font-size: 2.3em;
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 10vw;
  border-right: $title-border;
  h1 {
    font-size: 3em;
    text-align: center;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

marquee {
  height: 100vh;
}
#page-title {
  height: 10vh;
  border-bottom: $title-border;
}

h2,
h3 {
  font-family: $font1;
  text-align: center;
  user-select: none;
}

#content {
  width: $content-width;
  display: flex;
  flex-direction: column;
  form {
    width: $content-width;
    height: 90vh;
    align-self: center;
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: column;
      width: $content-width;

      .span-title {
        border-bottom: $title-border;

        h3 {
          display: inline-block;
          border-left: $span-border;
          border-right: $span-border;
          border-top: $span-border;
          margin-left: 5vw;
          padding: 0 1vw;
          text-align: left;
          background-color: black !important;
          color: white;
        }
      }

      .hardware {
        .select-element {
          width: 20vw;
        }
      }
      .options {
        width: $content-width;
        padding: 0 3vw;
        padding-bottom: $span-margin;
      }
      .row {
        display: flex;
        justify-content: space-between;
      }
      select {
        display: none;
      }

      .two-col-select {
        width: 40vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .select {
        color: black;
        font-size: $form-font-size;

        .select-element:hover,
        .selected {
          cursor: pointer;
          background: none !important;
          background-color: black !important;
          color: white;
        }
      }
      .form-element {
        user-select: none;
        margin: 0.5vh 0;
        display: flex;
        justify-content: space-between;
      }
      label {
        display: flex;
        align-items: center;
        font-style: italic;
        padding: 0 5px;
      }
      .col {
        flex-direction: column;
      }
      input,
      textarea {
        background: $color3;
        border: none;
        margin: 0;
        font-size: $form-font-size;
        background-color: black;
        color: white;
        resize: none;
      }
      .short {
        width: 7vw;
      }
      textarea:placeholder-shown,
      input:placeholder-shown {
        background-color: $color3;
        color: black;
      }
    }
    .button-container {
      width: $content-width;
      height: 10vh;
      background-color: black;
      button {
        height: 10vh;
        color: white;
        align-self: center;
        font-size: $font-size-h3;
        padding-left: 1vw;
        font-weight: 700;

        border: $span-border;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
      }
    }
  }
}
