$color1: #00416a;
$color2: #799f0c;
$color3: #ffe000;
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
$font1: "PT Mono", monospace;
$form-font-size: 0.7em;
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: $font1;
  :focus {
    outline: none;
  }
}
#container {
  box-sizing: border-box;
  height: 100vh;
  background: $color3;
  /*background: linear-gradient(
    to top,
    $color1,
    $color2,
    $color3
  ); */
  color: black;
  font-size: 3em;
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 10vw;
  border-right: 8px solid black;
  h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3em;
    text-align: center;
  }
  .page-title {
    width: 10vw;
    height: 100vh;
  }
  marquee {
    height: 100vh;
  }
}

h2,
h3 {
  font-family: $font1;
  text-align: center;
  user-select: none;
}

#content {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

form {
  width: 85vw;
  align-self: center;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  .form-element {
    user-select: none;
    margin: 0.5vh 0;
    display: flex;
    justify-content: space-between;
  }

  select {
    display: none;
  }

  .select {
    color: black;
    font-size: $form-font-size;
    .select-element:hover,
    .selected {
      cursor: pointer;
      background: none !important;
      background-color: black !important;
      color: white;
    }
  }
  input {
    background: $color3;
    border: none;
    font-size: $form-font-size;
    background-color: black;
    color: white;
  }

  input:placeholder-shown {
    background-color: $color3;
    color: black;
  }

  button {
    font-size: $form-font-size;
    margin: 3vh 0;
    height: 4vh;
    width: 30%;
    align-self: center;
    border: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  span {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vh 0;
  }
}
